[uwsgi]
;
; uwsgi.ini for WebAuthn-practice Sample.
;
module = wsgi:app

master = true
processes = 1

logger = /var/log/uwsgi/uwsgi.log

#socket = 127.0.0.1:5000
socket = /var/log/uwsgi/webauthn_practice.sock
chmod-socket = 664
vacuum = true
die-on-term = true
