html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    padding-bottom: 30px;
}
form {
    padding: 5px;
    margin-bottom: 30px;
    border: 1px solid glay;
}
.footer {
    position: absolute;
    bottom: 0;
    margin-top: 60px;
    width: 100%;
    height: auto;
}
.footer-container {
    margin: 5px 10px;
    height: 60px;
}
td {
    word-break : break-all;
}
.clearIcon {
    fill: currentColor;
    color: #ff000dc4;
}
.checkIcon:hover {
    cursor: pointer;
}

.clearSelectLink {
    font-size: 36px;
}
.clearSelectLink:hover {
    text-decoration-line: none;
}